Repository Seluj78/PyMatcha, pull requests merged in 2020-11, with the labels that each got.

#365 V2 tests, with many more things tested!
  .travis.yml
  PyMatchaV2.postman_collection.json
  backend/PyMatcha/routes/api/debug.py
  backend/PyMatcha/routes/api/history.py
  backend/PyMatcha/routes/api/like.py
  backend/PyMatcha/routes/api/messages.py
  backend/PyMatcha/routes/api/profile/complete.py
  backend/PyMatcha/routes/api/profile/report.py
  backend/PyMatcha/routes/api/profile/view.py
  backend/PyMatcha/routes/api/recommendations.py
  frontend/src/auth/tokens.js
  frontend/src/views/app/Browse.vue
  frontend/src/views/app/History.vue
  frontend/src/views/app/Onboarding.vue
  frontend/src/views/auth/SignIn.vue
Labels: Backend, Backlog, Documentation

#342 Chatbot actions
  .gitignore
  backend/PyMatcha/models/user.py
  backend/PyMatcha/routes/api/messages.py
  backend/PyMatcha/utils/bot_actions.py
  backend/PyMatcha/utils/dating.yml
  backend/PyMatcha/utils/orm/_model.py
  backend/PyMatcha/utils/recommendations.py
  backend/PyMatcha/utils/static.py
  backend/PyMatcha/utils/tables.py
  backend/PyMatcha/utils/tasks.py
  backend/chatbot_database.sqlite3
  backend/requirements.txt
  mysql_dump/users-dump.sql
  workers.Dockerfile
Labels: Backend

#403 Renamed fields for consistency
  PyMatchaV2.postman_collection.json
  backend/PyMatcha/models/image.py
  backend/PyMatcha/models/message.py
  backend/PyMatcha/models/user.py
  backend/PyMatcha/routes/api/auth/login.py
  backend/PyMatcha/routes/api/messages.py
  backend/PyMatcha/utils/jwt_callbacks.py
  backend/PyMatcha/utils/populate_database.py
  backend/PyMatcha/utils/tables.py
  backend/PyMatcha/utils/tasks.py
  backend/schemas/swagger.yaml
  frontend/src/components/app/matches/Chat.vue
  frontend/src/components/app/matches/Message.vue
  frontend/src/components/app/matches/MessageBubble.vue
  frontend/src/views/auth/SignOut.vue
  mysql_dump/users-dump.sql
Labels: Backend, Backlog

#406 Changed superlikes reset timer format to timago future format
  backend/PyMatcha/routes/api/like.py
Labels: Backend, Backlog

#407 257 loading icons
  frontend/src/components/app/users/User.vue
  frontend/src/components/shared/FilterSlider.vue
  frontend/src/components/shared/MultipleFilters.vue
  frontend/src/views/app/Browse.vue
  frontend/src/views/app/History.vue
  frontend/src/views/app/Matches.vue
  frontend/src/views/app/Search.vue
  frontend/src/views/app/Settings.vue
  frontend/src/views/auth/ForgotPassword.vue
  frontend/src/views/auth/ResetPassword.vue
  frontend/src/views/auth/SignIn.vue
  frontend/src/views/auth/SignOut.vue
  frontend/src/views/auth/SignUp.vue
Labels: Frontend

#405 Consistent `.` at the end of returned messages in JSON, also no email…
  PyMatchaV2.postman_collection.json
  backend/PyMatcha/routes/api/auth/email.py
  backend/PyMatcha/routes/api/auth/password.py
  backend/PyMatcha/routes/api/like.py
  backend/PyMatcha/routes/api/messages.py
  backend/PyMatcha/routes/api/profile/block.py
  backend/PyMatcha/routes/api/profile/complete.py
  backend/PyMatcha/routes/api/profile/edit.py
  backend/PyMatcha/routes/api/profile/images.py
  backend/PyMatcha/routes/api/profile/report.py
  backend/PyMatcha/routes/api/recommendations.py
  backend/PyMatcha/routes/api/search.py
Labels: Backend, Backlog

#413 Speedup history by removing get of users
  backend/PyMatcha/utils/tasks.py
Labels: BUG, Backend, Backlog

#414 Consistent notification handling
  PyMatchaV2.postman_collection.json
  backend/PyMatcha/models/like.py
  backend/PyMatcha/routes/api/like.py
  backend/PyMatcha/routes/api/messages.py
  backend/PyMatcha/routes/api/profile/view.py
  backend/PyMatcha/utils/action_notifs/__init__.py
  backend/PyMatcha/utils/action_notifs/like.py
  backend/PyMatcha/utils/action_notifs/message.py
  backend/PyMatcha/utils/action_notifs/view.py
  backend/PyMatcha/utils/bot_actions.py
  backend/PyMatcha/utils/tasks.py
Labels: Backend, Backlog

#423 Fixed logging
  backend.Dockerfile
  backend/PyMatcha/__init__.py
  backend/PyMatcha/models/notification.py
  backend/PyMatcha/models/user.py
  backend/PyMatcha/routes/api/auth/email.py
  backend/PyMatcha/routes/api/auth/login.py
  backend/PyMatcha/routes/api/auth/password.py
  backend/PyMatcha/routes/api/auth/register.py
  backend/PyMatcha/routes/api/debug.py
  backend/PyMatcha/routes/api/history.py
  backend/PyMatcha/routes/api/match.py
  backend/PyMatcha/routes/api/messages.py
  backend/PyMatcha/routes/api/notifications.py
  backend/PyMatcha/routes/api/profile/block.py
  backend/PyMatcha/routes/api/profile/complete.py
  backend/PyMatcha/routes/api/profile/edit.py
  backend/PyMatcha/routes/api/profile/images.py
  backend/PyMatcha/routes/api/profile/report.py
  backend/PyMatcha/routes/api/recommendations.py
  backend/PyMatcha/routes/api/search.py
  backend/PyMatcha/routes/api/user.py
  backend/PyMatcha/utils/logging.py
  backend/PyMatcha/utils/static.py
  backend/app.py
  workers.Dockerfile
Labels: BUG, Backend

#430 Added amazing README
  README.md
  screenshots/history.jpg
  screenshots/home_page.jpg
  screenshots/matched_profile.jpg
  screenshots/matches_chat.png
  screenshots/profile_settings.png
  screenshots/recommended_profiles.jpg
  screenshots/search_no_results.png
  screenshots/search_page.png
  screenshots/search_results.jpg
  screenshots/unmatched_profile.png
Labels: Backlog, Documentation

#450 Added random scores for bots
  backend/PyMatcha/__init__.py
  backend/PyMatcha/utils/bot_actions.py
  backend/PyMatcha/utils/tasks.py
Labels: BUG, Backend, Backlog
