Repository Seluj78/PyMatcha, pull requests merged in 2020-09, with the labels that each got.

#221 Feature/recommendations
  PyMatcha.postman_collection.json
  backend/PyMatcha/__init__.py
  backend/PyMatcha/routes/api/auth/login.py
  backend/PyMatcha/routes/api/debug.py
  backend/PyMatcha/routes/api/recommendations.py
  backend/PyMatcha/routes/api/user.py
  backend/PyMatcha/utils/match_score.py
  backend/PyMatcha/utils/orm/_model.py
  backend/PyMatcha/utils/populate_database.py
  backend/PyMatcha/utils/tables.py
  backend/PyMatcha/utils/tags.json
  backend/PyMatcha/utils/tasks.py
  backend/requirements.txt
Labels: back-end

#223 Adding superlikes
  .env.enc
  .travis.yml
  Dockerfile
  PyMatcha.postman_collection.json
  backend/PyMatcha/__init__.py
  backend/PyMatcha/models/like.py
  backend/PyMatcha/models/match.py
  backend/PyMatcha/models/message.py
  backend/PyMatcha/models/report.py
  backend/PyMatcha/models/tag.py
  backend/PyMatcha/models/user.py
  backend/PyMatcha/models/view.py
  backend/PyMatcha/routes/__init__.py
  backend/PyMatcha/routes/api/__init__.py
  backend/PyMatcha/routes/api/auth/__init__.py
  backend/PyMatcha/routes/api/auth/email.py
  backend/PyMatcha/routes/api/auth/login.py
  backend/PyMatcha/routes/api/auth/password.py
  backend/PyMatcha/routes/api/auth/register.py
  backend/PyMatcha/routes/api/like.py
  backend/PyMatcha/routes/api/messages.py
  backend/PyMatcha/routes/api/profile/__init__.py
  backend/PyMatcha/routes/api/profile/complete.py
  backend/PyMatcha/routes/api/profile/edit.py
  backend/PyMatcha/routes/api/profile/report.py
  backend/PyMatcha/routes/api/profile/view.py
  backend/PyMatcha/routes/api/recommendations.py
  backend/PyMatcha/routes/api/user.py
  backend/PyMatcha/utils/confirm_token.py
  backend/PyMatcha/utils/decorators.py
  backend/PyMatcha/utils/errors/__init__.py
  backend/PyMatcha/utils/errors/badrequest.py
  backend/PyMatcha/utils/errors/conflict.py
  backend/PyMatcha/utils/errors/forbidden.py
  backend/PyMatcha/utils/errors/notfound.py
  backend/PyMatcha/utils/errors/template.py
  backend/PyMatcha/utils/errors/unauthorized.py
  backend/PyMatcha/utils/orm/_model.py
  backend/PyMatcha/utils/password.py
  backend/PyMatcha/utils/success/__init__.py
  backend/PyMatcha/utils/success/created.py
  backend/PyMatcha/utils/success/deleted.py
  backend/PyMatcha/utils/success/success.py
  backend/PyMatcha/utils/tables.py
  backend/PyMatcha/utils/tasks.py
  backend/app.py
Labels: back-end

#240 Fixed doc (239)
  backend/schemas/swagger.yaml
Labels: back-end

#235 Modified env files and moved dockerfiles
  .env.enc
  .gitignore
  .travis.yml
  PyMatcha.postman_collection.json
  auteur
  backend.Dockerfile
  backend/PyMatcha/__init__.py
  backend/PyMatcha/routes/api/auth/email.py
  backend/PyMatcha/routes/api/auth/password.py
  backend/PyMatcha/routes/api/auth/register.py
  backend/PyMatcha/routes/api/debug.py
  backend/PyMatcha/routes/api/profile/edit.py
  backend/PyMatcha/utils/decorators.py
  backend/PyMatcha/utils/match_score.py
  backend/PyMatcha/utils/static.py
  backend/app.py
  backend/schemas/swagger.yaml
  docker-compose.yml
  frontend.Dockerfile
  logo.png
  package-lock.json
  runtime.txt
Labels: back-end

#253 Removed all TODOs (Moved to issues)
  .travis.yml
  backend/PyMatcha/routes/api/auth/password.py
  backend/PyMatcha/routes/api/like.py
  backend/PyMatcha/routes/api/messages.py
  backend/PyMatcha/utils/orm/_model.py
  backend/PyMatcha/utils/populate_database.py
  backend/PyMatcha/utils/tables.py
  backend/PyMatcha/utils/tasks.py
  backend/schemas/swagger.yaml
Labels: CHORE, back-end

#256 255: update frontend dockerfile
  frontend.Dockerfile
Labels: front-end

#254 Added superlikes to heat score
  backend/PyMatcha/utils/tasks.py
Labels: Backend

#264 Travis Refactor and frontend and workers build in travis
  .travis.yml
  docker-compose.yml
  workers.Dockerfile
Labels: Backlog

#266 Added sentry to the backend
  backend/PyMatcha/__init__.py
  backend/requirements.txt
Labels: Backend, Backlog

#267 Added sentry in the frontend
  frontend/package.json
  frontend/src/main.js
  frontend/yarn.lock
Labels: Frontend

#269 232 reset password view
  backend/PyMatcha/routes/api/auth/password.py
  backend/schemas/swagger.yaml
  frontend/package.json
  frontend/src/assets/auth/error.png
  frontend/src/assets/auth/refresh.png
  frontend/src/assets/auth/success.png
  frontend/src/assets/css/tailwind.css
  frontend/src/main.js
  frontend/src/plugins/errorMessenger.js
  frontend/src/plugins/http.js
  frontend/src/router/index.js
  frontend/src/views/auth/ForgotPassword.vue
  frontend/src/views/auth/ResetPassword.vue
  frontend/src/views/auth/ResetPasswordError.vue
  frontend/src/views/auth/SignIn.vue
  frontend/yarn.lock
Labels: Frontend

#272 270 register route connect backend
  docker-compose.yml
  frontend/src/router/index.js
  frontend/src/views/auth/AccountVerified.vue
  frontend/src/views/auth/AccountVerifiedError.vue
  frontend/src/views/auth/ResetPassword.vue
  frontend/src/views/auth/SignUp.vue
Labels: Frontend

#276 Rewrote part of the populate_db script for images later
  backend/PyMatcha/utils/populate_database.py
  backend/requirements.txt
Labels: Backend, Backlog

#278 273 hook login frontend to backend
  .env.enc
  backend/PyMatcha/utils/password.py
  docker-compose.yml
  frontend/package.json
  frontend/src/auth/logOut.js
  frontend/src/auth/tokens.js
  frontend/src/plugins/http.js
  frontend/src/router/index.js
  frontend/src/store/index.js
  frontend/src/store/modules/user.js
  frontend/src/views/app/Browse.vue
  frontend/src/views/app/Onboarding.vue
  frontend/src/views/auth/SignIn.vue
  frontend/yarn.lock
Labels: Frontend

#281 Fixed cast warnings
  backend/PyMatcha/__init__.py
  backend/PyMatcha/models/user.py
  backend/PyMatcha/utils/orm/_model.py
Labels: BUG, Backend, Backlog

#274 WIP: Added base image routes and model
  .env.enc
  PyMatcha.postman_collection.json
  backend/PyMatcha/__init__.py
  backend/PyMatcha/models/image.py
  backend/PyMatcha/models/user.py
  backend/PyMatcha/routes/api/debug.py
  backend/PyMatcha/routes/api/profile/images.py
  backend/PyMatcha/utils/__init__.py
  backend/PyMatcha/utils/images.py
  backend/PyMatcha/utils/populate_database.py
  backend/PyMatcha/utils/static.py
  backend/PyMatcha/utils/tables.py
  backend/requirements.txt
  backend/schemas/swagger.yaml
Labels: Backend

#290 279 onboarding
  backend/PyMatcha/routes/api/profile/images.py
  backend/PyMatcha/routes/api/recommendations.py
  backend/PyMatcha/utils/recommendations.py
  backend/PyMatcha/utils/tasks.py
  frontend/src/App.vue
  frontend/src/assets/css/tailwind.css
  frontend/src/assets/loading.svg
  frontend/src/assets/onboarding/cloud.png
  frontend/src/assets/onboarding/remove.png
  frontend/src/components/app/onboarding/ImageUpload.vue
  frontend/src/components/app/onboarding/Introduction.vue
  frontend/src/components/app/onboarding/Location.vue
  frontend/src/components/app/onboarding/MainAndSecondaryImagesUpload.vue
  frontend/src/components/app/onboarding/MultipleChoice.vue
  frontend/src/components/app/onboarding/SelectionButton.vue
  frontend/src/components/app/onboarding/SettingUp.vue
  frontend/src/components/app/onboarding/SingleChoice.vue
  frontend/src/components/app/onboarding/Textblock.vue
  frontend/src/plugins/http.js
  frontend/src/router/index.js
  frontend/src/store/modules/user.js
  frontend/src/views/app/Onboarding.vue
  frontend/tailwind.config.js
Labels: Frontend

#292 nav bar dynamic content based on if user is logged in
  frontend/src/assets/css/tailwind.css
  frontend/src/components/shared/NavBar.vue
Labels: Frontend

#295 feature/search
  PyMatcha.postman_collection.json
  backend/PyMatcha/__init__.py
  backend/PyMatcha/routes/api/search.py
  backend/PyMatcha/utils/decorators.py
  backend/PyMatcha/utils/populate_database.py
  backend/PyMatcha/utils/tasks.py
  backend/schemas/swagger.yaml
  subject.pdf
Labels: Backend

#300 Added ignoring of matched and liked users
  backend/PyMatcha/routes/api/search.py
  backend/PyMatcha/utils/recommendations.py
Labels: Backend

#301 Better picture quality and closer people in populate db
  .travis.yml
  PyMatcha.postman_collection.json
  backend/PyMatcha/routes/api/debug.py
  backend/PyMatcha/routes/api/profile/images.py
  backend/PyMatcha/utils/populate_database.py
  backend/PyMatcha/utils/tags.json
  docker-compose.yml
  mysql_dump/users-dump.sql
Labels: Backend, Backlog

#303 Added backend site map and / redirects to site map
  backend/PyMatcha/__init__.py
Labels: Backend, Backlog
